{% extends 'layout.html' %}

{% block main %}
    <div class="section">
        <div class="container">
          <div class="exit__page">
              <h1 class="exit__title">Вы успешно вышли с аккаунта</h1>
              <a class="exit__link" href="{% url 'user' %}">Войти в личный кабинет снова</a>
          </div>
        </div>
    </div>

 <footer class="footer footer__exit">

           <div class="container">

               <div class="footer__inner">

                   <div class="footet__item footer__start">

                           <div class="up-btn">
                             <i class="fas fa-arrow-up"></i>
                           </div>

                           <div class="header__logo footer__logo">
                              <button class="footer__btn-3">ГОРИЗОНТ</button>
                       </div>

                     </div>

                     <div class="footer__item footer__center">

                          <span>Все права защищены &copy;</span>

                     </div>

                     <div class="footer__item footer__end">

                         <div class="social">

                           <div>
                             <a href="https://www.youtube.com/channel/UCgMNtb18CYEygaqkbWvCgMA/featured">
                               <i id='i_link' class="fab fa-youtube"></i>
                             </a>
                            </div>
                              <div>
                                <a href="https://vk.com/id433520181">
                                  <i id='i_link' class="fa-brands fa-vk"></i>
                                  </a>
                               </div>
                              <div>
                                <a href="https://web.telegram.org/z/">
                                  <i id='i_link' class="fa-brands fa-telegram"></i>
                                  <a href="https://web.telegram.org/z/">
                              </div>

                           </div>

                     </div>

               </div>

           </div>

       </footer>
{% endblock %}
